<h4>New Friend</h4>
<form>
	<table>
		<tr>
			<td>First Name:</td> <td><input type="text" ng-model="newFriend.firstName"></td>
		</tr>
		<tr>
			<td>Last Name:</td> <td><input type="text" ng-model="newFriend.lastName"></td>
		</tr>
		<tr>
			<td>Birthdate:</td> <td><input id="datepicker" type="text" ng-model="newFriend.birthdate"></td>
		</tr>
		<tr>
			<td><input type="submit" value="Create New Friend" ng-click="makeNewFriend()"></td>
		</tr>
	</table>
</form>

<!-- Datepicker (jQueryUI) -->
	<script type="text/javascript">
	$( function() {
	    $( "#datepicker" ).datepicker();
	} );
  </script>